{% extends 'base.html.twig' %}
{% block title %}Connexion
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% for message in app.flashes('access_denied') %}
			<p class="error-message">{{ message }}</p>
		{% endfor %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		{% endif %}

		<div class="bodylogin">
			<h1 class="hregister">Connectez-vous</h1>
			<div class="formlogin">
				<div class="register">
					<div class="infos">
						<div class="email input-login">
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus/>
						</div>
						<div class="password input-login">
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required/>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
						<div class="checkbox mb-3">
							<label><input type="checkbox" name="_remember_me"/>Se rappeler de moi</label>
						</div>
						<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
						<button class="btn" type="submit">Se connecter</button>
					</div><!-- .infos -->
				</div><!-- .register -->
			</div><!-- .form -->
		</div><!-- .bodylogin -->
	</form>
{% endblock %}
