<form method="post" action="{{ path('type_delete', {'id': type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btndelete">Supprimer</button>
</form>
