{{ form_start(form) }}
    {{ form_row(form.name, {label: 'Nom :'}) }}
    <div>{{ form_label(form.description, 'Description :') }}</div>
    <div class="desctexta">{{ form_widget(form.description) }}</div>
    {{ form_row(form.imageFile, {label: 'Image :'}) }}


    <button class="btnsavetype">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

