{% extends 'base.html.twig' %}

{% block title %}Modifier un Genre{% endblock %}

{% block body %}
    <h1 class="page-title">Modifier un Genre</h1>
<div class="bt">
    {{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('type/_delete_form.html.twig') }}
    <a href="{{ path('type_index') }}">Retourner à la liste</a>
</div> 
{% endblock %}
