{% extends 'base.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('type_new') }}"><i class="gg-addtype"></i></a>
    {% endif %}
    <h1 class="typetitle">Liste des genres</h1>

<div class="tabletype">
        {% for type in types %}
    <div class="cardtype">
        <div class="type">
                {{ type.name }}
                <img id="photos" src="{{ asset('uploads/images/types/' ~ type.imageName ) }}" alt="{{ type.name | e }}"/>
            <div class="typedesca">
                <div class="typedescb">{{ type.description|u.truncate(50, '...') }}</div>
                <div class="typeoptions">
                    <a href="{{ path('type_show', {'id': type.id}) }}">Afficher</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('type_edit', {'id': type.id}) }}">Modifier</a>
                    {% endif %}
                </div>
            </div>
                    
        </div>
    </div>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultats trouvés</td>
            </tr>
        {% endfor %}
    
</div>
{% endblock %}
