{% extends 'base.html.twig' %}

{% block title %}Nouveau Genre{% endblock %}

{% block body %}
    <h1 class="page-title">Créer un nouveau genre</h1>
<div class="bt">
    {{ include('type/_form.html.twig') }}
    <a href="{{ path('type_index') }}">Retourner à la liste</a>
</div>
    
{% endblock %}
