{% extends 'base.html.twig' %} {% block title %}Genre{% endblock %} {% block body %}


<div class="typetable">
    <div class="typeinfo">
        <div class="name">{{ type.name }}</div>
        <img id="typeimg" src="{{ asset("uploads/images/types/") ~ type.imageName}}" alt="{{ type.name | e }}"/>
        <div class="typedesc">
            {{ type.description }}
        </div>    
    </div>
    <a href="{{ path('type_index') }}">Retourner à la liste</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('type_edit', { id: type.id }) }}">Modifier</a>
    {{ include("type/_delete_form.html.twig") }}
{% endif %} 
</div>

{% endblock %}
