<!-- Les 5 jeux les mieux notés -->
<div class="rate">
	<h1 class="bestrated">Les 5 jeux les mieux notés</h1>
	<div class="imgbestrated">
		{% for game in games %}

			<div class="game">
				{{ game.title | e }}
				|
				{{ game.meanRate | round }}
				<div><img src="{{ asset("uploads/images/games/") ~ game.imageName}}" alt="{{ game.title | e }}"/></div>
			</div>
		{% endfor %}
	</div>
</div>
