{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="bodyregister">
    <h1 class="hregister">Inscription</h1>

    <form class="formregister">{{ form_start(registrationForm) }}

        <div class="register">
            <div class="infos">
                <div class="nickname input-register">{{ form_row(registrationForm.nickname, {'label': "Nom d'utilisateur : "}) }}</div>
                <div class="email input-register">{{ form_row(registrationForm.email) }}</div>
                <div class="password input-register">{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}</div>
                
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn">S'enregistrer</button>
        
        </div>
    </form>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}