/* sass --watch ./public/style/style.scss:./public/style/style.css */

$main-color: #113b5b;
$secondary-color: #ffcc1d;
$third-color: #f4f1f0;
$primary_font_family: "Poppins", sans-serif;
$bold-weight: 700;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header.html.twig */
header {
    background-color: $main-color;
}

header {
    a {
        color: $third-color;
        text-decoration: none;
    }
}
.container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .nav-title {
    $size: 400px;

    width: $size;
}

.container > .nav-title {
    a {
        transition: all 0.3s ease-in-out;
    }
}

.container > .nav-title {
    a:hover {
        color: $secondary-color;
    }
}

.link {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: $secondary-color;
    font-weight: $bold-weight;
}
a:link {
    text-decoration: none;
    color: $secondary-color;
}
a:visited {
    color: $secondary-color;
}
a:hover {
    cursor: pointer;
}
.nav-button-container {
    padding-left: 44%;
    color: $secondary-color;
}

.link > li {
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
}

.link > {
    li > {
        a {
            font-weight: $bold-weight;
            line-height: 80px;
            transition: all 0.3s ease-in-out;
            height: 80px;
        }
    }
}

.link > li:hover a {
    color: $main-color;
}

.link > li:hover {
    background-color: $secondary-color;
}

.nav-button {
    margin-right: 6px;
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    height: 30px;
    line-height: 30px;
    font-family: Poppins;
    border: none;
    cursor: pointer;
}
.connexion,
.inscription,
.btn {
    margin-right: 6px;
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    width: 95px;
    height: 24px;
    font-family: Poppins;
    border: none;
}
.welcome-message {
    color: $third-color;
}
.inscription:hover,
.btn:hover {
    cursor: pointer;
}
.deconnexion {
    $wsize: 95px;
    $hsize: 24px;

    margin-right: 6px;
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    width: $wsize;
    height: $hsize;
    font-family: Poppins;
    border: none;
}
.deconnexion:hover {
    cursor: pointer;
}

/* realisations.html.twig */
body {
    font-family: $primary_font_family;
    background-color: $third-color;
}
.EDN {
    margin-left: 910px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.rate {
    background-color: $main-color;
    color: $secondary-color;
}
img {
    max-width: 578px;
}

.bestrated {
    text-align: center;
    padding-bottom: 20px;
}
.imgbestrated {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.game {
    text-align: center;
    font-weight: $bold-weight;
}

/* register.html.twig, login.html.twig */
.bodyregister,
.bodylogin {
    background-color: $main-color;
    color: $secondary-color;
    height: 460px;
}
.hregister,
.hlogin {
    text-align: center;
    padding-bottom: 60px;
}
label {
    padding-right: 5px;
}
.formregister,
.formlogin {
    border: $secondary-color 2px solid;
    border-width: 9px;
    width: 26%;
    height: 240px;
    margin: auto;
    /* font-weight: $bold-weight; */
}
.register {
    padding-top: 15px;
    padding-left: 80px;
}
.input-register,
.input-login {
    padding-bottom: 12px;
}
.btn {
    margin-top: 13px;
    margin-left: 125px;
}
.checkbox.mb-3 {
    padding-bottom: 14px;
}
a.forget {
    padding-top: 10px;
}
/* templates/game/index.html.twig */
.page-title {
    text-align: center;
    color: $secondary-color;
    background-color: $main-color;
    padding-bottom: 20px;
}
.table {
    background-color: $main-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    width: 23%;
    #photos {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    #photos:hover {
        > .gamedesca {
            opacity: 1;
            font-weight: bold;
        }
    }
}
#photos:hover {
    opacity: 0.4;
}
.game {
    text-align: center;
    font-weight: 700;
    position: relative;
}
.gamedesca {
    position: absolute;
    text-align: center;
    top: 19px;
    opacity: 0;
    height: 217px;
    width: 442px;
    transition: opacity 0.3s;
    font-weight: bolder;
    overflow: auto;
    padding: 15px;
    background-color: rgba(17, 59, 91, 0.8);
    cursor: pointer;
}
.gamedesca:hover {
    opacity: 0.9;
    transition: opacity 0.4s;
    background-color: rgba(17, 59, 91, 0.8);
}
.gamedesca:hover ~ #photos {
    opacity: 0.5;
}
.gamedescb {
    z-index: 99;
    padding-top: 10px;
}
.avis-btn {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    padding-top: 70px;
}
/* game/show.html.twig */

.gametable{
    background-color:$main-color;
    color:$secondary-color;
}
.title {
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
#gameimg {
    display: flex;
    margin: auto;
    text-align: center;
    max-width: 60%;
}
.button a {
    color: $main-color;
}
.button {
    margin-right: 6px;
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    width: 95px;
    height: 24px;
    font-family: Poppins;
    border: none;
    cursor: pointer;
}
.deleteform {
    width: 95px;
    height: 24px;
    margin-top: -2px;
}
.btns {
    display: flex;
    padding-left: 860px;
}
.gamedesc {
    text-align: center;
    padding-bottom: 40px;
}
.commentslist {
    text-align: center;
}
.gametitle,
.gamecomments {
    text-align: center;
}
.addcomment {
    text-align: center;
}
.comments-container {
    padding-bottom: 80px;
    padding: 30px;
    .comment-container {
        width: 40%;
        padding: 30px;
        margin: 20px auto;
        border: 1px solid $secondary-color;
        // border-radius: 9999px;
        .comment-content {
            text-align: justify;
        }
    }
}

#comment_content {
    max-height: 110px;
    max-width: 300px;
    margin-bottom: -10px;
}
.comment-form-container {
    text-align: center;
}
.required {
    padding-right: 15px;
}
.help-block {
    text-align: center;
    padding-top: 30px;
}

/* templates/type/index.html.twig */
.tabletype {
    background-color: $main-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cardtype {
    width: 30%;
    #photos {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    #photos:hover {
        > .gamedesca {
            opacity: 1;
            font-weight: bold;
        }
    }
}
.type {
    text-align: center;
    font-weight: 700;
    position: relative;
}
.typedesca {
    position: absolute;
    text-align: center;
    top: 19px;
    opacity: 0;
    height: 280px;
    width: 578px;
    transition: opacity 0.3s;
    font-weight: bolder;
    overflow: auto;
    padding: 15px;
    background-color: rgba(17, 59, 91, 0.8);
    cursor: pointer;
}
.typedesca:hover {
    opacity: 0.9;
    transition: opacity 0.4s;
    background-color: rgba(17, 59, 91, 0.8);
}
.typedesca:hover ~ #photos {
    opacity: 0.5;
}
.typedescb {
    z-index: 99;
    padding-top: 80px;
}
.typeoptions {
    padding-top: 100px;
}

/* type/show.html.twig */

.typetable {
    background-color: $main-color;
    color: $secondary-color;
    height: 880px;
}
.name {
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 30px;
}
#typeimg {
    display: flex;
    margin: auto;
    text-align: center;
    max-width: 60%;
}
.typedesc {
    text-align: center;
    padding-top: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 810px;
    margin-left: 530px;
}

/* request.html.twig */
.typetitle {
    text-align: center;
    color: $secondary-color;
    background-color: $main-color;
    padding-bottom: 20px;
}

.resetform {
    text-align: center;
    background-color: $main-color;
    color: $secondary-color;
    height: 460px;
    margin-top: -30px;
}
.btnreset {
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    width: 195px;
    height: 24px;
    font-family: Poppins;
    border: none;
    margin-top: 30px;
}
.enteremail {
    padding-top: 20px;
}
.bodyreset {
    padding-top: 80px;
    padding-bottom: 80px;
    border-width: 9px;
    width: 26%;
    height: 240px;
    margin: 60px auto 10px;
    border: $secondary-color 2px solid;
    border-width: 9px;
}
.form-forgot {
    margin-top: -30px;
}
.gg-addtype {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 22px;
    top: 30px;
    left: 10px;
}
.gg-addtype:after,
.gg-addtype::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.gg-addtype::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

.gg-addgame {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 22px;
    top: 30px;
    left: 10px;
}
.gg-addgame:after,
.gg-addgame::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.gg-addgame::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

/* type/_form.html.twig */

.bt {
    background-color: $main-color;
    color: $secondary-color;
    padding: 0 25px 25px 25px;
}
.btnsavetype,
.btndelete {
    font-weight: $bold-weight;
    background-color: $secondary-color;
    color: $main-color;
    width: 95px;
    height: 24px;
    font-family: Poppins;
    border: none;
    cursor: pointer;
}
#type_description {
    max-height: 130px;
    max-width: 370px;
}

/* game/_form.html.twig */
.editgame {
    background-color: $main-color;
    color: $secondary-color;
    padding: 0 25px 25px 25px;
}

/* user/index.html.twig */

.usertable{
    background-color:$main-color;
    color:$secondary-color;
    margin-top: -22px;
    width: 100%;
}
.gg-adduser{
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px;
    top: -50px;
    left: 10px;
 }
 .gg-adduser:after,
 .gg-adduser::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
 }
 .gg-adduser::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
 }
 .userinfo{
     text-align: center;
 }
 .desctexta{
     
 }