/* sass --watch ./public/style/style.scss:./public/style/style.css */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header.html.twig */
header {
  background-color: #113b5b;
}

header a {
  color: #f4f1f0;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .nav-title {
  width: 400px;
}

.container > .nav-title a {
  transition: all 0.3s ease-in-out;
}

.container > .nav-title a:hover {
  color: #ffcc1d;
}

.link {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #ffcc1d;
  font-weight: 700;
}

a:link {
  text-decoration: none;
  color: #ffcc1d;
}

a:visited {
  color: #ffcc1d;
}

a:hover {
  cursor: pointer;
}

.nav-button-container {
  padding-left: 44%;
  color: #ffcc1d;
}

.link > li {
  padding: 0 30px;
  transition: all 0.3s ease-in-out;
}

.link > li > a {
  font-weight: 700;
  line-height: 80px;
  transition: all 0.3s ease-in-out;
  height: 80px;
}

.link > li:hover a {
  color: #113b5b;
}

.link > li:hover {
  background-color: #ffcc1d;
}

.nav-button {
  margin-right: 6px;
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  height: 30px;
  line-height: 30px;
  font-family: Poppins;
  border: none;
  cursor: pointer;
}

.connexion,
.inscription,
.btn {
  margin-right: 6px;
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  width: 95px;
  height: 24px;
  font-family: Poppins;
  border: none;
}

.welcome-message {
  color: #f4f1f0;
}

.inscription:hover,
.btn:hover {
  cursor: pointer;
}

.deconnexion {
  margin-right: 6px;
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  width: 95px;
  height: 24px;
  font-family: Poppins;
  border: none;
}

.deconnexion:hover {
  cursor: pointer;
}

/* realisations.html.twig */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f1f0;
}

.EDN {
  margin-left: 910px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.rate {
  background-color: #113b5b;
  color: #ffcc1d;
}

img {
  max-width: 578px;
}

.bestrated {
  text-align: center;
  padding-bottom: 20px;
}

.imgbestrated {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game {
  text-align: center;
  font-weight: 700;
}

/* register.html.twig, login.html.twig */
.bodyregister,
.bodylogin {
  background-color: #113b5b;
  color: #ffcc1d;
  height: 460px;
}

.hregister,
.hlogin {
  text-align: center;
  padding-bottom: 60px;
}

label {
  padding-right: 5px;
}

.formregister,
.formlogin {
  border: #ffcc1d 2px solid;
  border-width: 9px;
  width: 26%;
  height: 240px;
  margin: auto;
  /* font-weight: $bold-weight; */
}

.register {
  padding-top: 15px;
  padding-left: 80px;
}

.input-register,
.input-login {
  padding-bottom: 12px;
}

.btn {
  margin-top: 13px;
  margin-left: 125px;
}

.checkbox.mb-3 {
  padding-bottom: 14px;
}

a.forget {
  padding-top: 10px;
}

/* templates/game/index.html.twig */
.page-title {
  text-align: center;
  color: #ffcc1d;
  background-color: #113b5b;
  padding-bottom: 20px;
}

.table {
  background-color: #113b5b;
  color: #ffcc1d;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 23%;
}
.card #photos {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.card #photos:hover > .gamedesca {
  opacity: 1;
  font-weight: bold;
}

#photos:hover {
  opacity: 0.4;
}

.game {
  text-align: center;
  font-weight: 700;
  position: relative;
}

.gamedesca {
  position: absolute;
  text-align: center;
  top: 19px;
  opacity: 0;
  height: 217px;
  width: 442px;
  transition: opacity 0.3s;
  font-weight: bolder;
  overflow: auto;
  padding: 15px;
  background-color: rgba(17, 59, 91, 0.8);
  cursor: pointer;
}

.gamedesca:hover {
  opacity: 0.9;
  transition: opacity 0.4s;
  background-color: rgba(17, 59, 91, 0.8);
}

.gamedesca:hover ~ #photos {
  opacity: 0.5;
}

.gamedescb {
  z-index: 99;
  padding-top: 10px;
}

.avis-btn {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  padding-top: 70px;
}

/* game/show.html.twig */
.gametable {
  background-color: #113b5b;
  color: #FFCC1D;
}

.title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

#gameimg {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 60%;
}

.button a {
  color: #113b5b;
}

.button {
  margin-right: 6px;
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  width: 95px;
  height: 24px;
  font-family: Poppins;
  border: none;
  cursor: pointer;
}

.deleteform {
  width: 95px;
  height: 24px;
  margin-top: -2px;
}

.btns {
  display: flex;
  padding-left: 860px;
}

.gamedesc {
  text-align: center;
  padding-bottom: 40px;
}

.commentslist {
  text-align: center;
}

.gametitle,
.gamecomments {
  text-align: center;
}

.addcomment {
  text-align: center;
}

.comments-container {
  padding-bottom: 80px;
  padding: 30px;
}
.comments-container .comment-container {
  width: 40%;
  padding: 30px;
  margin: 20px auto;
  border: 1px solid #ffcc1d;
}
.comments-container .comment-container .comment-content {
  text-align: justify;
}

#comment_content {
  max-height: 110px;
  max-width: 300px;
  margin-bottom: -10px;
}

.comment-form-container {
  text-align: center;
}

.required {
  padding-right: 15px;
}

.help-block {
  text-align: center;
  padding-top: 30px;
}

/* templates/type/index.html.twig */
.tabletype {
  background-color: #113b5b;
  color: #ffcc1d;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardtype {
  width: 30%;
}
.cardtype #photos {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.cardtype #photos:hover > .gamedesca {
  opacity: 1;
  font-weight: bold;
}

.type {
  text-align: center;
  font-weight: 700;
  position: relative;
}

.typedesca {
  position: absolute;
  text-align: center;
  top: 19px;
  opacity: 0;
  height: 280px;
  width: 578px;
  transition: opacity 0.3s;
  font-weight: bolder;
  overflow: auto;
  padding: 15px;
  background-color: rgba(17, 59, 91, 0.8);
  cursor: pointer;
}

.typedesca:hover {
  opacity: 0.9;
  transition: opacity 0.4s;
  background-color: rgba(17, 59, 91, 0.8);
}

.typedesca:hover ~ #photos {
  opacity: 0.5;
}

.typedescb {
  z-index: 99;
  padding-top: 80px;
}

.typeoptions {
  padding-top: 100px;
}

/* type/show.html.twig */
.typetable {
  background-color: #113b5b;
  color: #ffcc1d;
  height: 880px;
}

.name {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 30px;
}

#typeimg {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 60%;
}

.typedesc {
  text-align: center;
  padding-top: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 810px;
  margin-left: 530px;
}

/* request.html.twig */
.typetitle {
  text-align: center;
  color: #ffcc1d;
  background-color: #113b5b;
  padding-bottom: 20px;
}

.resetform {
  text-align: center;
  background-color: #113b5b;
  color: #ffcc1d;
  height: 460px;
  margin-top: -30px;
}

.btnreset {
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  width: 195px;
  height: 24px;
  font-family: Poppins;
  border: none;
  margin-top: 30px;
}

.enteremail {
  padding-top: 20px;
}

.bodyreset {
  padding-top: 80px;
  padding-bottom: 80px;
  border-width: 9px;
  width: 26%;
  height: 240px;
  margin: 60px auto 10px;
  border: #ffcc1d 2px solid;
  border-width: 9px;
}

.form-forgot {
  margin-top: -30px;
}

.gg-addtype {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
  top: 30px;
  left: 10px;
}

.gg-addtype:after,
.gg-addtype::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}

.gg-addtype::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}

.gg-addgame {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
  top: 30px;
  left: 10px;
}

.gg-addgame:after,
.gg-addgame::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}

.gg-addgame::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}

/* type/_form.html.twig */
.bt {
  background-color: #113b5b;
  color: #ffcc1d;
  padding: 0 25px 25px 25px;
}

.btnsavetype,
.btndelete {
  font-weight: 700;
  background-color: #ffcc1d;
  color: #113b5b;
  width: 95px;
  height: 24px;
  font-family: Poppins;
  border: none;
  cursor: pointer;
}

#type_description {
  max-height: 130px;
  max-width: 370px;
}

/* game/_form.html.twig */
.editgame {
  background-color: #113b5b;
  color: #ffcc1d;
  padding: 0 25px 25px 25px;
}

/* user/index.html.twig */
.usertable {
  background-color: #113b5b;
  color: #FFCC1D;
  margin-top: -22px;
  width: 100%;
}

.gg-adduser {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
  top: -50px;
  left: 10px;
}

.gg-adduser:after,
.gg-adduser::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}

.gg-adduser::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px;
}

.userinfo {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
