<!-- FOOTER -->
<footer>
    <div>
        Site Map
    </div>
    <div class="logo-container">
        <img src="" alt="">
    </div>
    <div class="team-creators-container">
        Thomas POISSON
        Thomas PERESSON
    </div>
</footer>