<!-- HEADER -->
<header>
    <div class="container">
        <h1 class="nav-title" ><a href="{{ path('home') }}">Games Collection</a></h1>
        <nav class="navbar-container">
            <ul class="link">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('game_index') }}">Jeux</a></li>
                <li><a href="{{ path('type_index') }}">Genres</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('comment_index') }}">Commentaires</a></li>
                    <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                {% endif %}
            </ul>
            <div class="nav-button-container">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <p class="welcome-message">Bonjour {{ app.user.nickname }}</p>
                    <a href="{{ path('app_logout') }}"><button class="nav-button connexion">Déconnexion</button></a>
                {% else %}
                    <a href="{{ path('app_login') }}"><button class="nav-button connexion">Connexion</button></a>
                    <a href="{{ path('app_register') }}"><button class="nav-button inscription">Inscription</button></a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>
