{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="resetform">
    <h1>Réinitialisez votre Mot de Passe</h1>
    <div class="bodyreset">
        <div class="form-forgot">
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div class="enteremail">
                    <small>
                        Entrez une adresse mail et nous vous enverrons un lien 
                        pour réinitialiser votre mot de passe
                    </small>
                </div>

                <button class="btnreset">Réinitialisez mot de passe</button>
            </div>
            {{ form_end(requestForm) }}
        
    </div>
</div>
{% endblock %}
