{{ form_start(form) }}
<div class="form-group">
	<p class="comment-id">ID :
		{{ comment.id }}</p>
	<p class="comment-id">Jeu concerné :
		<a href="{{ path('game_show', {id: comment.game.id})}}" target="_blank">
			{{ comment.game.title }}</a>
	</p>
	<p class="comment-id">Utilisateur concerné :
		{{ comment.user.nickname }}</p>
</div>
<div class="form-grouprate">
	{{ form_label(form.rate, "Note :") }}
	{{ form_widget(form.rate) }}
	<span class="comment-rate">{{ comment.rate }}</span>
</div>
<div class="form-groupcomment">
	{{ form_label(form.content, "Commentaire :")}}
	{{ form_widget(form.content) }}
	<div class="comment-content">{{ comment.content }}</div>
</div>
<div class="form-group">
	{{ form_label(form.status, "Actif ?") }}
	{{ form_widget(form.status) }}
</div>
	<button class="submit-button" type="submit">Envoyer</button>

{{ form_end(form) }}
