{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Modifier un commentaire</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('comment_index') }}">Retourner à la liste</a>

        {{ include('comment/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
