{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <h1>Liste des commentaires</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Note donnée</th>
                <th>Commentaire</th>
                <th>Jeu lié</th>
                <th>Utilisateur lié</th>
                <th>Créé le</th>
                <th>Actif ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.game.title }}</td>
                <td>{{ comment.user.nickname }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('d/m/Y') : '' }}</td>
                <td>
                {% if comment.status %}
                    <span class="status-actif">Actif</span>
                {% else %}
                    <span class="status-inactif">Inactif</span>
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">Afficher</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultats trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
