{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Créé un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">Retourner à la liste</a>
{% endblock %}
