{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ comment.rate }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ comment.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}">Retourner à la liste</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
