{{ form_start(form) }}
    

    <div class="form-group">
        {{ form_label(form.title, 'Titre du jeu : ') }}
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.imageFile, 'Couverture du jeu : ') }}
        {{ form_widget(form.imageFile) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description, 'Description du jeu : ') }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.url, 'URL du jeu : ') }}
        {{ form_widget(form.url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.type, 'Genre(s) du jeu :') }}
        {{ form_widget(form.type) }}
    </div>
    <button class="btnsavetype">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
