{% extends 'base.html.twig' %}

{% block title %}Modifier le jeu{% endblock %}

{% block body %}
    <h1 class="page-title">Modifier le jeu</h1>
<div class="bt">
    {{ include('game/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('game/_delete_form.html.twig') }}
</div>
    <a href="{{ path('game_index') }}">Retourner à la liste</a>

    
{% endblock %}
