{% extends 'base.html.twig' %}
{% block title %}Liste des jeux
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('game_new') }}"><i class="gg-addgame"></i></a>
{% endif %}
<h1 class="page-title">Liste des jeux</h2>

{# TODO: faire une card pour les jeux #}
<div class="table">
	{% for game in games %}
		<div class="card">
			<div class="game">{{ game.title }}
				{% if game.imageName %}
					<img id="photos" src="{{ asset('uploads/images/games/' ~ game.imageName ) }}" />
				{% else %}
					Ce jeu n'a pas d'image
				{% endif %}
				<div class="gamedesca">
					<div class="gamedescb">{{ game.description | u.truncate(60, '...') }}</div>
					<div class="types">
						{% for type in game.type %}
							<a href="{{ path('type_show', {id: type.id}) }}" target="_blank">{{type.name}}</a>
						{% endfor %}
					</div>
					<div class="avis-btn">
						<div class="gamerate">Note Moyenne :
							{{ game.meanRate | round(1, 'common' ) }}
						</div>
						<div class="gameoptions">
							<a href="{{ path('game_show', { id: game.id }) }}">Afficher jeu</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	{% else %}
		<div>
			<td colspan="7">Aucun résultats trouvés</td>
		</div>
	{% endfor %}
</div>

{% endblock %}
