{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <h1 class="page-title">Créer un nouveau jeu</h1>
<div class="bt">
    {{ include('game/_form.html.twig') }}
    <a href="{{ path('game_index') }}">Retourner à la liste</a>
</div>
    
{% endblock %}
