{% extends 'base.html.twig' %}

{% block title %}Liste des jeux
{% endblock %}

{% block body %}
	<div class="gametable">
		<div class="gameinfo">
			<div class="title">{{ game.title }}</div>
			<img id="gameimg" src="{{ asset("uploads/images/games/") ~ game.imageName}}" alt="{{ game.title | e }}"/>
			<div class="gamedesc">
				{{ game.description }}
				Créé le
				{{ game.createdAt ? game.createdAt|date('d/m/Y') : '' }}
				{{ game.meanRate }}
			</div>
			<h2 class="gametitle">Liste des commentaires</h2>
			<div class="comments-container">
				{% for comment in game.comments %}

					{% if comment.status %}
						<div class="comment-container">
							<p>Publié par
								{{ comment.user.nickname }}
								le
								{{ comment.createdAt | date('d/m/Y H:i') }}</p>
							<p>Note attribuée :
								{% for i in 1..comment.rate %}
									<i class="fas fa-star"></i>
								{% endfor %}
								{% if comment.rate == 5 %}

									{% else %}

										{% for i in comment.rate..4 %}
											<i class="far fa-star"></i>
										{% endfor %}
								{% endif %}
							</p>
							<p>Commentaire :
							</p>
							<div class="comment-content">{{ comment.content }}</div>
						</div>
					{% endif %}

				{% endfor %}
			</div>
			<h2 class="gamecomments">Ajouter un commentaire</h2>
			{% for message in app.flashes('notice') %}
				<div class="flash-notice">
					{{ message }}
				</div>
			{% endfor %}
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="comment-form-container">
					{{ form_start(commentForm) }}
					{{ form_errors(commentForm) }}
					<div class="form-group">
						{{ form_label(commentForm.rate, "Note : ") }}
						{{ form_widget(commentForm.rate, {attr: {min: 1, max: 5}}) }}
					</div>
					<div class="form-group">
						{{ form_label(commentForm.content, "Avis : ") }}
						{{ form_widget(commentForm.content) }}
					</div>
					<button>Envoyer</button>
					{{ form_end(commentForm) }}
				</div>
			{% else %}
				<p class="help-block">Vous devez être authentifié pour noter / commenter un jeu.</p>
			{% endif %}
		</div>

		<a href="{{ path('game_index') }}">Retourner à la liste</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('game_edit', { id: game.id }) }}">Modifier</a>
			{{ include("game/_delete_form.html.twig") }}
		{% endif %}
	</div>
{% endblock %}
