<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Bienvenue sur la collection des jeux JS de l'EDN{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link href="{{ asset('style/style.css') }}" rel="stylesheet" />
        {% endblock %} {% block javascripts %} {% endblock %}
    </head>
    <body>
        {% include "base/header.html.twig" %}
        <img class="EDN" src="{{ asset ('/img/EDN-Logo.png') }}" alt="EDN">
        {% block body %}
        {% endblock %}
        {% include "base/footer.html.twig" %}
    </body>
</html>
